audio::-webkit-media-controls-timeline,
video::-webkit-media-controls-timeline {
  display: none;
}

#context {
  display: none;
  margin-left: 130px;
  margin-top: 5vh;
  max-width: 85vw;
  max-height: 60vh;
}

#videos {
  position: fixed;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  flex-wrap: nowrap;
  width: 60vw;
  bottom: 2vh;
  background-color: rgba(100, 100, 100, 0.5);
  left: 215px;
}

@media only screen and (max-width: 900px) {
  #videos {
    left: 10px;
    width: 95vw;
  }
  #context {
    margin-left: 15px;
  }
}

#videos > div > video {
  margin-top: -110px !important;
  display: inline-block;
  float: none;
  margin-left: 10px;
  margin-bottom: -110px;
}

.room {
  position: absolute;
  text-align: center;
  margin: 0 !important;
  padding: 0 !important;
  text-align: center !important;
  justify-content: center !important;
  width: 90vw;
  height: 90vh;
}

.name-label {
  font-weight: bolder;
  height: 25px;
  z-index: 100;
  margin-top: -10px;
}
