audio::-webkit-media-controls-timeline,
video::-webkit-media-controls-timeline {
  display: none;
}

#context {
  position: fixed;
  left: 215px;
  display: none;
  width: 60vw;
  margin-top: 5vh;
  max-width: 85vw;
  max-height: 60vh;
}

#videos {
  position: fixed;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  flex-wrap: nowrap;
  width: 60vw;
  bottom: 2vh;
  background-color: rgba(100, 100, 100, 0.5);
  left: 215px;
}

@media only screen and (max-width: 900px) {
  #videos {
    left: 10px;
    width: 95vw;
  }
  #context {
    left: 10px;
    width: 95vw;
    max-width: 100vw;
  }
}

#videos > div > video {
  margin-top: -110px !important;
  display: inline-block;
  float: none;
  margin-left: 10px;
  margin-bottom: -110px;
}

.room {
  position: absolute;
  text-align: center;
  margin: 0 !important;
  padding: 0 !important;
  text-align: center !important;
  justify-content: center !important;
}

.video-details {
  justify-content: center;
}

.name-label {
  color: white;
  font-weight: bolder;
  height: 25px;
  margin-top: -3px;
  z-index: 10;
}

.audio-icon {
  background-color: rgba(255, 255, 255, 0.637);
  padding: 3px;
  border-radius: 30px;
  margin-left: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  z-index: 10;
}

#inner-aside-container {
  margin-top: 0px;
  height: 100%;
}

video {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */
}
