.compose {
  padding: 10px;
  display: flex;
  align-items: center;
  background: white;
  border: 1px solid #eeeef1;
  position: fixed;
  width: 25%;
  bottom: 10px;
}

@supports (backdrop-filter: blur(20px)) {
  .compose {
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
  }
}

.compose-input {
  flex: 1;
  border: none;
  float: left;
  font-size: 14px;
  height: 40px;
  background: none;
  width: 15vw;
}

.compose-button {
  float: left;
  flex: 1;
  border: 1px solid grey;
  color: #5585ff;
  border: 2px solid #5585ff;
  background-color: transparent;
  border-radius: 1.5rem;
  font-size: 17px;
  height: 40px;
  width: 15px;
  cursor: pointer;
}

.compose-input::placeholder {
  opacity: 0.3;
}

.compose .toolbar-button {
  color: #bbbbbf;
  margin-left: 15px;
}

.compose .toolbar-button:hover {
  color: #99999c;
}
