.compose {
  padding: 10px;
  display: flex;
  align-items: center;
  background: white;
  /* border: 1px solid #eeeef1; */
  position: fixed;
  width: auto;
  margin-left: 0em;
  bottom: 0px;
  outline: none;
}

@supports (backdrop-filter: blur(20px)) {
  .compose {
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
    outline: none;
  }
}

.compose-button {
  float: right;
  border: 1px solid grey;
  color: white;
  border: 1px solid #8d8d8d;
  background-color: white;
  border-radius: 1.5rem;
  font-size: 17px;
  height: 30px;
  width: auto;
  cursor: pointer;
  color: black;
  margin-left: 50px;
  font-weight: bold;
  outline: none;
}

.compose-input::placeholder {
  opacity: 0.4;
}

.compose .toolbar-button {
  color: #bbbbbf;
}

.compose .toolbar-button:hover {
  color: #99999c;
  background-color: blue;
}

.icon-chevron-right {
  color: black;
}
