.message {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.message .timestamp {
  display: flex;
  justify-content: center;
  color: #999;
  font-weight: 600;
  font-size: 12px;
  margin: 10px 0px;
  text-transform: uppercase;
}

.message .bubble-container {
  font-size: 14px;
  display: flex;
  border-top-right-radius: 20px;
  word-wrap: break-word;
  overflow-y: hidden;
}

.message.mine .bubble-container {
  justify-content: flex-end;
  border-top-left-radius: 20px;
}

.message .bubble-container .bubble {
  margin: 1px 0px;
  background: #9d9da0;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 75%;
  border-top-left-radius: 2px;
}

.bubble {
  background: rgba(51, 51, 51, 0.2);
  color: black;
}

.sendBy {
  font-size: 12px;
  margin-right: 10px;
  max-width: 45px;
}

.sendBy .mine {
  font-size: 14px;
  margin-left: 10px;
}

.message.mine .bubble-container .bubble {
  background: #007aff;
  margin: 1px 0px;
  margin-right: 10px;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 75%;
  border-top-right-radius: 2px;
  color: white;
}
